
    .container{
        width: 100%;
        min-height: 70px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .container a{
        display: flex;
        width: 100%;
        gap: 20px;
        justify-content: space-between;
    }
    .tileimg{
        border-radius: 20px;
        width: 30%;
        height: auto;
        min-height: 70px;
        background-image: url('/default_service.png');
        background-size: cover;
        background-repeat: no-repeat;
        aspect-ratio: 375/200;
    }
    .tileText  {
        width: 70%;
        display: flex;
        align-items: baseline;
        flex-direction: column;
        justify-content: center;
    }
    .title{

    }
    .regDate, .regDate_card{
        color : var(--gray-300);
    }

    /* 슬라이드 카드 css 따로 */
    .container_card{
        width: 100%;
        padding : 12px;
    }
    .container_card > a{
        display: flex;
        flex-direction: column;
    }
    .tileimg_card{
        padding : calc(12/375*100vw) ;
        display: flex;
        flex-direction: column;
        gap: calc(8/375*100vw);
        /* align-items: center; */
        /* justify-content: center; */
        border-radius: 20px;
        min-height: 70px;
        aspect-ratio: 108/140;
        background-color: var(--primary-50);
    }
    .regDate_card{

    }
    .title_card{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        align-self: stretch;
    }
    .tileText_card{

    }
    .iconContainer{
        width: 100%;
        display: flex;

    }