.container{
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

._container{
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px;
    /* height: calc(100vw / 375 * 250); */
    background-color: var(--primary-500);
}

.headerText{
    margin-top: 10px;
    margin-bottom:10px;
    color:white;
    aspect-ratio: 343/160;
    width: 100%;
    height: auto;
    max-width: 686px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/img/mainbanner.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.radi_container{
    width: 100vw;
    height: calc(100vw/375*92);
    max-width: 700px;
    aspect-ratio: 150/37 !important;
    background-image: url('/img/RadiVector.svg');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    /* height: calc(100vw / 375 * 80); */
    /* background-color: var(--primary-500);
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%; */
    color: var(--primary-300);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(100vw / 375 * 7);
}
.radi_container_inner{
    /* margin-top: calc(100vw/375 * 20); */
    display:flex;
    gap:8px;
}
.underContainer_upper{
    width: 100%;
    max-width: 700px;
}
.underContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 24px;
}
