.tiptap, .control-group, .titleContainer, .titleContainer input{
  width: 100% !important;
}
.gethtml{
  padding : 0px 24px !important;
}


.control-group > *{
  font-family: 'Hana2-Regular' !important;
}

.editorBox {
    background-color: #e5e7eb; /* Tailwindì˜ bg-gray-200 */
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-left: 8px;
    margin-bottom: 4px;
  }

  .control-group{
    margin-top: 120px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .gethtml{

  }
  .gethtml p{
  } 

  .tiptap ul > li{
    margin-left: 20px;
  }
  
  .titleContainer{
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 120px;
    border: 1px solid #EAEAEA;
    width: 1240px;
  }
  .titleContainer input {
    border:  none;
    outline:  none;
    font-size: 30px; 
    height: 80px;
    margin-left: 40px;
    width: 100%;
  }


  .tiptap{
    border : 1px solid #eaeaea;
    padding : 20px;
    width: 1200px;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .ProseMirror{
    width: 800px;
    min-height: 50vh;
    align-items: baseline !important;
    display: unset !important;
  }
  
  .button-group *{
    margin: 4px;
  }
  
  .control-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* .tiptap p:empty::before {
    content: ' ';
    display: inline-block;
    height: 1em;
  } */

  .control-group > * > button{
    border: none;
    outline: none;
    background: none;
  }

  .thumbnailUpload{
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
  }