.none{
  display: none !important;
}

.tiptap, .control-group, .titleContainer, .titleContainer input{
  width: 100% !important;
}
.gethtml{
  padding : 0px 24px !important;
}


.control-group > *{
  font-family: 'Hana2-Regular' !important;
}

.editorBox {
    background-color: #e5e7eb; /* Tailwindì˜ bg-gray-200 */
    width: auto;
    height: auto;
    border-radius: 8px;
    border: none;
    margin-bottom: 4px;
  }

  .control-group{
    margin-top: 120px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .gethtml{

  }
  .gethtml p{
  } 

  .tiptap ul > li{
    margin-left: 20px;
  }
  
  .titleContainer{
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 120px;
    border: 1px solid #EAEAEA;
    width: 1240px;
  }
  .titleContainer input {
    border:  none;
    outline:  none;
    font-size: 30px; 
    height: 80px;
    margin-left: 40px;
    width: 100%;
  }


  .tiptap{
    border : 1px solid #eaeaea;
    padding : 20px;
    width: 1200px;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .ProseMirror{
    width: 800px;
    min-height: 50vh;
    align-items: baseline !important;
    display: unset !important;
  }
  
  .button-group *{
    margin: 4px;
  }
  
  .control-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* .tiptap p:empty::before {
    content: ' ';
    display: inline-block;
    height: 1em;
  } */

  /* .control-group > * > button{
    border: none;
    outline: none;
    background: none;
  } */

  .thumbnailUpload{
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
  }

  .content-aside {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 66px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: right;
    align-items: center;
}
.editcomplete{
  right: 20px;
  background-color: black;
  border-radius: 24px;
  color:white;
  width: 88px;
  height: 40px;
  line-height: 38px;
}
.button_group{
  padding : 20px 0px;
  display: block;
  word-break: break-all;
  width: 100%;
  height: auto;
}
.button_group button{
  margin-left: 8px;
}

.editcomplete:hover{
 background-color: var(--primary-600);
 color : white;
}

.red{
  color: red !important;
}
/* .titleContainer input::placeholder{

} */